* {
    font-family: 'Quicksand', sans-serif;
}
.b-container {
    width: 1200px;
    margin: 0 auto;
}

p {
    margin: 0;
}


.b-heading {
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.b-heading h3 {
    margin-bottom: 0px;
}
.b-post-title {
    font-weight: bold;
    font-size: 20px;
}
.b-posts {
    padding: 20px;
}
.b-post {
    padding: 20px 0px;
    border-bottom: 1px solid #cccccc;
}

.b-center {
    width: 250px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}